

body {
    font-family: 'Roboto', 'Arial', 'sans-serif';
    padding: 0;
    color: #333;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

.fired_pizza {
    width: 100%;
    height: 240px;
    object-fit: cover;
    object-position: 100% 50%;
}

.food_and_drinks{
    background-color: #eee;
    width: 100%;
    height: 50px;
}

h1 {
    padding : 8px;
}

.food_and_drinks {
    background-color: #eee;

    padding: 16px 8px;

}

main {
    grid-area: main;
    display: grid; 
    margin: 0px 8px;
}

h3 {
    padding-right: 8px;
}

.site_menu {
    display: flex;
    flex-wrap: wrap; 
    gap: 30px;
    justify-content: space-around;
    background-color: #fff;
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 2; 
    border: 3px solid #ff8c00;
}

.menu_section{
    margin: 15px 0;
}

.item_menu {
    border-bottom: 1px solid #eee;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu_item { 
    width: 100%; 
    min-height: 96px; 
    display: flex;
    flex-grow: 1;
    border: 1px solid #d9d8d7;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative; 
    overflow: hidden;
    margin-bottom: 1em;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.item_image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    width: auto;
    height: auto;
    border: 1px solid #eee;
}

.item_image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.item_image_wrapper {
    width: 100 px;
    height: 100 px;
    display: flex;
    justify-content : center;
    align-items : center;
    margin-right: 15 px;
    flex-shrink: 0;
}

.item_image_wrapper.item_image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}


.menu_item .description {
    padding: 16px 8px 8px 0;
}

.add_button {
    border: 1px solid #d9d8d7;
    cursor: pointer;
    background-color: rgba(255, 128, 0, 0.2);
    position : absolute; 
    top: 0px;
    right: 0px;
    color: #ff8c00;
    justify-content: flex-end;
    width:40px;
    height: 40px;
    font-size: 36px;
    text-align: center;
    
}

.item_info{
    flex-grow: 1;
    padding: 5px;
    /* text-wrap: balance; */
}


.item_menu:last-child {
    border-bottom: none;
}


.item_menu button {
    color: #ff8c00;
    border: #d9d8d7;
    padding: 5px 10px;
    cursor: pointer;
}


.menu_item:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}