
@font-face { 
    font-family: 'Roboto','Arial','sans-serif';
    src : url('../fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf')format('woff2'),
    url('../fonts/Roboto-Regular.woff')format('woff');

    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
