* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body.grid_layout {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background-color: #ff8000;
    width: 100%;
}

.header_content {
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.ba_logo { height: 70px; }

.pizza_icon { width: 60px; }

.content_wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    justify-content: space-between;
    padding: 0 16px;
    box-sizing: border-box;
}

.grid_teaser {
     width: 100%; 
    position : relative;
}

.floating_pizza {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    background: white;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    z-index: 5;
}

.grid_main {
    flex: 1 1 500px;
    padding-left: 0;
    margin: 0;
    padding: 0;
    flex: 1;
}

.grid_aside {
    width: 380px;
    padding: 20px;
    background: #fff;
}

.footer {
    background-color: #ff8000;
    padding: 20px;
    text-align: center;
    color: white;
}

@media (max-width: 1000px) {
    .content_wrapper {
        padding: 0;
    }
    .int_txt h1 {
        padding: 40px 8px 0 8px;
        text-align: center;
        margin-bottom: 15px;
        width: 100%;
    }
    .grid_main {
        padding: 0 10px;
        box-sizing: border-box;
    }
    .grid_aside {
        padding: 0;
        position: fixed; 
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        z-index: 1000;
        background-color: white;
        transition: height 0.3s ease;
        border-radius: 15px 15px 0 0;
        box-shadow: 0 -2px 10px rgba(0,0,0,0.2);
    }
    .grid_aside.basket_active {
        height: 80vh; 
        overflow-y: auto;
    }
    .cart_aside {
        width: 100%;
        max-width: 100%;
        margin: 0;
        border-radius: 0;
    }
}

@media (max-width: 520px) {
    .int_txt h1 {
        padding: 0px 8px;  
        text-align: center;
        margin-top: 40px;
        margin-bottom: 15px;
        width: 100%;
        font-size: 1.5rem;
    }
    .food_and_drinks {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
        text-align: center;
        width: 100%;
        padding-bottom: 16px;
        border-bottom: 1px solid #e2e2e2;
    }

    .food_and_drinks div {
        width: 100%; 
        display: flex;
        justify-content: center; 
        flex-wrap: wrap;
        gap: 5px;
    }
}